* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #177477;
}

.header {
  text-align: center;
  padding: 20px 0;
  position: relative;
}

#h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.logo {
  width: 7vh;
  height: 7vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.estilo-nav {
  background-color: #a2ccc9;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  align-items: flex-end;
}

.nav-link {
  margin: 0 10px;
  color: #000;
}

.texto {
  padding: 20px;
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
}
